@page "/"
@using ProductTracking.Dtos;
@using Volo.Abp.MultiTenancy
@inherits ProductTrackingComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<DataGrid TItem="ProductTrackingDtos"
		  Data="ProductTrackingDtoes">

	<DataGridColumn Field="@nameof(ProductTrackingDtos.PictureLink)">
		<DisplayTemplate>
			@{
				var product = context as ProductTrackingDtos;
				<img style="height:180px" src="@product.PictureLink"/>
			}
		</DisplayTemplate>
	</DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.ProductName)" Caption="Product Name"></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.Progress)" Caption="Progress">
		<DisplayTemplate>
			@{
				var product = context as ProductTrackingDtos;
				<Progress Value="product.Progress" />
			}
		</DisplayTemplate>
	</DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.TrackCode)" Caption ="Track Code"></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.WorkOrder)" Caption="Work Order"></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.StartDate)" Caption="Start Date"></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.EndDate)" Caption="End Date" ></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.DueDate)" Caption="Due Date"></DataGridColumn>
	<DataGridColumn Field="@nameof(ProductTrackingDtos.Status)" Caption="Status">
		<DisplayTemplate>
			@{
				var product = context as ProductTrackingDtos;
				if(product.Status == "In Process")
				{
					<Badge Color="Color.Warning">@product.Status</Badge>
				}
				else if(product.Status == "Complete")
				{
					<Badge Color="Color.Success">@product.Status</Badge>

				}
				else
				{
					<Badge Color="Color.Primary">@product.Status</Badge>
				}
			}
		</DisplayTemplate>
	</DataGridColumn>
	<DataGridColumn Caption="Actions">
		<DisplayTemplate>
			<Button Clicked="() =>ShowModal(context)" Color="Color.Danger">Get Detail</Button>
		</DisplayTemplate>
	</DataGridColumn>

</DataGrid>

<Modal @ref="productDetailModal">
	<ModalContent Centered Size="ModalSize.Large">
		<ModalHeader>
			<ModalTitle>Product Tracking Detail</ModalTitle>
			<CloseButton/>
		</ModalHeader>
		<ModalBody>
			<div class="row">
				<div class="col-md-4">
					<img src="@currentProductDto.PictureLink" style="height : 180px"/>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<p class="text-muted">ProductName</p>
							<p>@currentProductDto.ProductName</p>
						</div>
						<div class="col-md-6">
							<p class="text-muted">TrackCode</p>
							<p>@currentProductDto.TrackCode</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="text-muted">Start Date</p>
							<p>@currentProductDto.StartDate</p>
						</div>
						<div class="col-md-6">
							<p class="text-muted">EndDate</p>
							<p>@currentProductDto.EndDate</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<Table>
					<TableHeader>
						<TableRow>
							<TableHeaderCell>Operation Code</TableHeaderCell>
							<TableHeaderCell>Station</TableHeaderCell>
							<TableHeaderCell>Start Date</TableHeaderCell>
							<TableHeaderCell>End Date</TableHeaderCell>
							<TableHeaderCell>Status</TableHeaderCell>
							<TableHeaderCell>Description</TableHeaderCell>
						</TableRow>
					</TableHeader>
					<TableBody>
						@foreach (var item in CurrentParticleOperations)
						{
							<TableRow>
								<TableRowCell>@item.OperationCode</TableRowCell>							
								<TableRowCell>@item.Station</TableRowCell>							
								<TableRowCell>@item.OperationStartDate</TableRowCell>							
								<TableRowCell>@item.OperationEndDate</TableRowCell>							
								<TableRowCell>
									@{
										if (@item.OperationStatus == "In Process")
										{
											<Badge Color="Color.Warning">@item.OperationStatus</Badge>
										}
										else if (@item.OperationStatus == "Complete")
										{
											<Badge Color="Color.Success">@item.OperationStatus</Badge>
										}
										else
										{
											<Badge Color="Color.Primary">@item.OperationStatus</Badge>
										}
									}
								</TableRowCell>							
								<TableRowCell>@item.OperationDescription</TableRowCell>							
							</TableRow>
						}
					</TableBody>
				</Table>
			</div>
		</ModalBody>
	</ModalContent>
</Modal>